/Fuentes/DiscoveryCore/nbproject/private/
/Fuentes/DiscoveryBusiness/nbproject/private/
/Fuentes/DiscoveryDesktop/nbproject/private/
/Fuentes/DiscoveryModel/nbproject/private/
/Fuentes/DiscoveryWeb/nbproject/private/